[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
pandas = "*"
psycopg2-binary = "==2.7.5"
numpy = "*"
tensorflow-gpu = "==2.4.1"
keras = "==2.2.4"
scikit-learn = "*"
matplotlib = "*"
jsons = "*"

[dev-packages]

[requires]
python_version = "3.6"
